{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración de Usuarios - crecetuLana</title>
    <link rel="icon" href="{% static '/images/logo_favicon.png' %}" type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
        
        body {
            font-family: 'Inter', sans-serif;
            background-color: #f8fafc;
        }
        body.no-scroll {
              overflow: hidden !important;
            height: 100vh !important;
        }
        .custom-gradient {
            background: linear-gradient(135deg, #0f172a 0%, #1e293b 100%);
        }

  
        .modal-hidden {
            transform: translateX(100%);
        }

        .modal-visible {
            transform: translateX(0);
        }

        .glass-effect {
            background: rgba(255, 255, 255, 0.9);
           
        }
        .no-scroll{
            overflow: hidden !important;
        }
        /* Estado oculto */
        #editModal.modal-hidden {
            transform: translateX(100%);
        }

        /* Estado visible */
        #editModal.modal-visible {
            transform: translateX(0);
        }

       
        /* ------------------ RESPONSIVE MÓVIL ------------------ */
@media (max-width: 768px) {
     header {
        flex-direction: row;
        align-items: center ;
    }

    header > div:first-child {
        flex: 3; /* el título ocupa el espacio */
    }

    .header {
        margin-left: auto; /* empuja la foto a la derecha */
    }
    .main-title {
        font-size: 18px;
        font-weight: 700;
        color: #0D2B44; 
        margin: 0;
    }
    .user-info {
        font-size: 10px;
        flex-direction: column; /* Foto abajo, nombre arriba */
        align-items: flex-end; /* Alineado a la derecha como en tu diseño */
        gap: 6px;
    }
    .username {
    display: none !important;
    }
    .profile-pic {
        border: 2px solid #4caf50; !important;
         width: 42px;
        height: 42px;
        margin-bottom: 104px;
    }
    .card-text h3 {
        font-size: 24px;
    }
    .card-text p {
        font-size: 20px;
    }
     /* Contenedor del header del sidebar */
    .sidebar-header {
        position: relative !important;
    }

    .mobile-logout {
        background: #e74c3c !important ;
        color: white !important;
        padding: 8px 12px !important;
        border-radius: 8px !important;
        font-weight: bold !important;
        text-decoration: none !important;
        font-size: 18px !important;
        position: relative !important;
        right: 3px !important;
    }
    .mobile-header {
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
        background: #1d2e3f !important;
        padding: 16px 10px !important;
        color: white !important;
        position: fixed !important;
        top: 0 !important;
        width: 100% !important;
        height: 64px !important;
        z-index: 0000 !important;
        box-shadow: 0 3px 5px rgba(0,0,0,0.25) !important;
    }
    .mobile-header .mobile-logo {
        font-size: 25px !important;
        font-weight: 1000 !important;
        font-family: 'Montserrat', sans-serif !important;
        padding: 12px 1px !important;
    }
    .text-2xl{
        font-size: 18px !important;
    }
    .action-buttons {
        flex-direction: row;
        width: 50%;
        margin-top: -50px;
        margin-bottom: 32px;
    }
    
     #editModal.modal-hidden {
        transform: translateY(100%);
    }

     #editModal.modal-visible {
        transform: translateY(0);
    }
}

    
    </style>
</head>

<body class="min-h-screen flex overflow-hidden">
<form id="csrf-form" style="display:none;">
    {% csrf_token %}
</form>

 {% include 'includes/sidebar.html' %}
<!-- SIDEBAR -->
<div class="content">

<!-- CONTENIDO -->
<main class="flex-1 h-screen overflow-y-auto">

<div class="p-8 max-w-7xl mx-auto">

    <!-- HEADER -->
    <header class="flex flex-col md:flex-row justify-between gap-4 mb-8">
        <div>
            <h1 class="text-3xl font-extrabold text-slate-900">Gestión de Usuarios</h1>
            <p class="text-slate-500 text-sm">Administra accesos, roles y perfiles.</p>
        </div>
         <form method="GET" class="flex gap-3">
    <div class="relative">
        <i class="fas fa-search absolute left-3 top-1/2 -translate-y-1/2 text-slate-400 text-sm"></i>
        <input 
            type="text"
            name="q"
            value="{{ request.GET.q }}"
            placeholder="Buscar usuario..."
            class="pl-10 pr-4 py-2.5 bg-white border border-slate-200 rounded-xl text-sm focus:ring-2 focus:ring-blue-500 outline-none w-64 shadow-sm"
        >
    </div>
</form>
    </header>

    <!-- STATS -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8">
        <div class="bg-white p-6 rounded-3xl border shadow-sm flex items-center justify-between">
            <div>
                <p class="text-xs font-bold text-slate-400">TOTAL USUARIOS</p>
                <h3 class="text-3xl font-black text-blue-800">{{ total_usuarios }}</h3>
          </div>
            <i class="fas fa-users text-blue-500 text-4xl"></i>
        </div>

        <div class="bg-white p-6 rounded-3xl border shadow-sm flex items-center justify-between">
            <div>
                <p class="text-xs font-bold text-slate-400">USUARIOS ACTIVOS</p>
                <h3 class="text-3xl font-black text-emerald-600">{{ usuarios_activos }}</h3>
        </div>
        <i class="fas fa-users text-green-500 text-4xl"></i>
        </div>

        <div class="bg-white p-6 rounded-3xl border shadow-sm  flex items-center justify-between">
            <div>
                <p class="text-xs font-bold text-slate-400">USUARIOS INACTIVOS</p>
                <h3 class="text-3xl font-black text-amber-500">{{ usuarios_inactivos }}</h3>
            </div>
            <i class="fas fa-users text-amber-500 text-4xl"></i>
        </div>
    </div>

    <!-- TABLA -->
    <div class="bg-white rounded-3xl border shadow-sm overflow-hidden">
        <div class="overflow-x-auto">
            <table class="w-full">
                <thead class="bg-slate-50">
                <tr>
                    <th class="px-8 py-4 text-xs text-slate-400">ID</th>
                    <th class="px-8 py-4 text-xs text-slate-400">USUARIO</th>
                    <th class="px-8 py-4 text-xs text-slate-400">ROL</th>
                    <th class="px-8 py-4 text-xs text-slate-400">ESTADO</th>
                    <th class="px-8 py-4 text-xs text-slate-400">ACTUALIZADO</th>
                    <th class="px-8 py-4 text-xs text-slate-400 text-right">ACCIONES</th>
                </tr>
                </thead>

                <tbody class="divide-y">
                {% for t in usuarios %}
                <tr class="hover:bg-slate-50">
                    <td class="px-8 py-4 text-sm">
                        {{ t.ID_TERCERO }}
                    </td>

                    <td class="px-8 py-4">
                        <div class="flex items-center gap-4">
                            {% if t.COD_USUARIO.FOTO_PERFIL %}
                                <img src="{{ t.COD_USUARIO.FOTO_PERFIL.url }}"
                                     class="w-10 h-10 rounded-full">
                            {% else %}
                                <img src="https://ui-avatars.com/api/?name={{ t.NOM_TERCERO }}&background=0D8ABC&color=fff"
                                     class="w-10 h-10 rounded-full">
                            {% endif %}
                            <div>
                                <p class="font-bold text-sm">
                                    {{ t.NOM_TERCERO }} {{ t.APE_PATERNO }} {{ t.APE_MATERNO }}
                                </p>
                                <p class="text-xs text-slate-400">
                                    {{ t.COD_USUARIO.CORREO }}
                                </p>
                            </div>
                        </div>
                    </td>

                    <td class="px-8 py-4 text-sm">
                        {{ t.COD_USUARIO.TIP_USUARIO }}
                    </td>

                    <td class="px-8 py-4 text-sm">
                        {% if t.MCA_INHABILITADO == 'N' %}
                            <span class="text-emerald-600 font-bold">Activo</span>
                        {% else %}
                            <span class="text-slate-400 font-bold">Inactivo</span>
                        {% endif %}
                    </td>

                    <td class="px-8 py-4 text-xs text-slate-500">
                        {{ t.FEC_ACTUALIZACION|date:"d/m/Y" }}
                    </td>

                    <td class="px-8 py-4 text-right">
                        <button onclick="openEditModal('{{ t.ID_TERCERO }}','{{ t.NOM_TERCERO }}','{{ t.APE_PATERNO }}','{{ t.APE_MATERNO }}','{{ t.COD_USUARIO.TIP_USUARIO }}','{{ t.COD_USUARIO.CORREO }}','{{ t.MCA_INHABILITADO }}')"
                                class="text-blue-600 hover:bg-blue-50 p-2 rounded">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button onclick="verMovimientos('{{ t.ID_TERCERO }}')"
                                class="text-emerald-600 hover:bg-emerald-50 p-2 rounded">
                            <i class="fas fa-list"></i>
                        </button>
                         <button onclick="eliminarUsuario('{{ t.ID_TERCERO }}')"
                                class="text-red-600 hover:bg-red-50 p-2 rounded">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
</main>
<!-- OVERLAY -->
<div id="editModalOverlay"
     class="fixed inset-0 bg-slate-900/40 backdrop-blur-sm z-[1000] hidden"
     onclick="closeEditModal()"></div>

<!-- MODAL -->
<div id="editModal"
     class="fixed bottom-0 right-0 w-full max-w-md
            h-[80vh] md:h-full
            bg-white shadow-2xl modal-hidden
            z-[2100]
            rounded-t-2xl md:rounded-none">

    <div class="flex flex-col h-full">
        <!-- HEADER -->
        <div class="p-3 border-b flex justify-between items-center">
            <div>
                <h2 class="text-xl text-blue-900 font-bold">Editar Usuario</h2>
                <p class="text-xs text-gray-400">Datos del usuario</p>
            </div>
            <button onclick="closeEditModal()">
                <i class="fas fa-times"></i>
            </button>
        </div>

        <!-- FORMULARIO -->
        <div class="flex-1 overflow-y-auto p-1 space-y-3 text-sm">
            <input type="hidden" id="editUserId">

            <div>
                <label class="text-xs font-bold uppercase text-blue-900 text-sm">Nombre</label>
                <input id="editNombre" class="w-full px-2 py-1 border rounded-xl">
            </div>

            <div>
                <label class="text-xs font-bold uppercase text-blue-900">Apellido Paterno</label>
                <input id="editApellidoPaterno" class="w-full px-2 py-1 border rounded-xl">
            </div>

            <div>
                <label class="text-xs font-bold uppercase text-blue-900">Apellido Materno</label>
                <input id="editApellidoMaterno" class="w-full px-2 py-1 border rounded-xl">
            </div>

            <div>
                <label class="text-xs font-bold uppercase text-blue-900">Correo</label>
                <input id="editEmail" type="email" class="w-full px-2 py-1 border rounded-xl">
            </div>

            <div>
                <label class="text-xs font-bold uppercase text-blue-900">Rol</label>
                <select id="editRole" class="w-full px-2 py-1 border rounded-xl">
                    <option value="ADM">Administrador</option>
                    <option value="ACC">Accionista</option>
                </select>
            </div>

            <div>
                <label class="text-xs font-bold uppercase text-blue-900">Estado</label>
                <div class="flex gap-4 mt-2">
                    <label class="flex-1 cursor-pointer">
                        <input type="radio" name="status" value="N" class="hidden peer">
                        <div class="p-2 text-center border rounded-xl
                                    peer-checked:bg-emerald-50
                                    peer-checked:border-emerald-500">
                            Activo
                        </div>
                    </label>

                    <label class="flex-1 cursor-pointer">
                        <input type="radio" name="status" value="S" class="hidden peer">
                        <div class="p-2 text-center border rounded-xl
                                    peer-checked:bg-red-50
                                    peer-checked:border-red-500">
                            Bloqueado
                        </div>
                    </label>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <div class="p-8 border-t border-slate-100 bg-slate-50/50 flex gap-3 modal-footer text-sm">
            <button onclick="closeEditModal()"
                    class="flex-1 px-6 py-3.5 bg-red-500 text-white border border-slate-200 text-slate-600 rounded-2xl font-bold text-sm hover:bg-red-700 transition-all">
                Cancelar
            </button>

            <button onclick="guardarCambiosUsuario()"
                    class="flex-1 px-6 py-3.5 bg-blue-600 text-white rounded-2xl font-bold text-sm hover:bg-blue-700 shadow-lg shadow-blue-200 transition-all">
                Guardar Cambios
            </button>
        </div>
    </div>
</div>

<script>
const modal = document.getElementById('editModal');
const overlay = document.getElementById('editModalOverlay');

// Evitar que clicks dentro del modal cierren el modal
modal.addEventListener('click', function(event) {
    event.stopPropagation();
});

let scrollPos = 0;

function openEditModal(id, nombre, apePat, apeMat, rol, correo, estado) {
    scrollPos = window.pageYOffset;

    document.getElementById('editUserId').value = id;
    document.getElementById('editNombre').value = nombre;
    document.getElementById('editApellidoPaterno').value = apePat;
    document.getElementById('editApellidoMaterno').value = apeMat;
    document.getElementById('editEmail').value = correo;
    document.getElementById('editRole').value = rol;

    const radioEstado = document.querySelector(`input[name="status"][value="${estado}"]`);
    if (radioEstado) radioEstado.checked = true;

    overlay.classList.remove('hidden');
    modal.classList.remove('modal-hidden');
    modal.classList.add('modal-visible');

    document.body.classList.add('no-scroll');
}

function closeEditModal() {
    modal.classList.remove('modal-visible');
    modal.classList.add('modal-hidden');
    overlay.classList.add('hidden');
    document.body.classList.remove('no-scroll');
    window.scrollTo(0, scrollPos);
}
</script>

<script>
function getCSRFToken() {
    return document.querySelector('#csrf-form input[name=csrfmiddlewaretoken]').value;
}
</script>


<script>

//------------------------------------------------------------------ Ver movimientos ------------------------------------
function verMovimientos(id) {
    fetch(`/usuarios/${id}/movimientos/`)
        .then(res => {
            if (!res.ok) throw new Error("Error al obtener los movimientos");
            return res.json();
        })
        .then(data => {
            let body = '';

            if (data.length === 0) {
                body = `<tr><td colspan="6" class="text-center p-4 text-slate-500">No hay movimientos para este usuario</td></tr>`;
            } else {
                data.forEach(m => {
                    body += `
                    <tr id="row-${m.id}" class="border-b">
                        <td class="p-2 font-mono text-slate-600">${m.id}</td>
                        <td class="p-2">${m.fecha}</td>
                        <td class="p-2">${m.concepto}</td>

                        <td class="p-2 text-right">
                            <input class="w-20 border rounded p-1 text-right"
                                   value="${m.deposito}"
                                   id="dep-${m.id}">
                        </td>

                        <td class="p-2 text-right">
                            <input class="w-20 border rounded p-1 text-right"
                                   value="${m.retiro}"
                                   id="ret-${m.id}">
                        </td>

                        <td class="p-2 text-right space-x-2">
                            <button onclick="guardarMovimiento(${m.id})" class="text-blue-600">
                                <i class="fas fa-save"></i>
                            </button>

                            <button onclick="eliminarMovimiento(${m.id})" class="text-red-600">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>`;
                });
            }

            document.getElementById('movimientosBody').innerHTML = body;
            document.getElementById('movModal').classList.remove('hidden');
            document.getElementById('movModalOverlay').classList.remove('hidden');
        })
        .catch(err => {
            console.error(err);
            Swal.fire({
                title: 'Error',
                text: 'No se pudieron cargar los movimientos. Intenta de nuevo.',
                icon: 'error'
            });
        });
}

//---------------------------------------- Cerrar Modal---------------------------------
function closeMovModal() {
    document.getElementById('movModal').classList.add('hidden');
    document.getElementById('movModalOverlay').classList.add('hidden');
}
</script>

<script>
 //------------------------------------------Guardar movimiento--------------------------------   
function guardarMovimiento(id){
    fetch(`/movimiento/${id}/editar/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCSRFToken()
        },
        body: JSON.stringify({
            deposito: document.getElementById(`dep-${id}`).value,
            retiro: document.getElementById(`ret-${id}`).value
        })
    })
    .then(res => res.json())
    .then(data => {
        if (data.ok) {
            alert("Movimiento actualizado");
        }
    });
}
//-----------------------Eliminar movimiento ----------------------------------------------------------
function eliminarMovimiento(id){

    Swal.fire({
        title: '¿Eliminar movimiento?',
        text: 'Esta acción no se puede deshacer',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#e11d48',
        cancelButtonColor: '#64748b',
        confirmButtonText: 'Sí, eliminar',
        cancelButtonText: 'Cancelar'
    }).then((result) => {

        if (!result.isConfirmed) return;

        fetch(`/movimiento/${id}/eliminar/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCSRFToken(),
                'Accept': 'application/json'
            }
        })
        .then(res => res.json())
        .then(data => {

            if (data.ok) {
                document.getElementById(`row-${id}`).remove();

                Swal.fire({
                    title: 'Eliminado',
                    text: 'El movimiento fue eliminado correctamente',
                    icon: 'success',
                    timer: 1800,
                    showConfirmButton: false
                });

            } else {
                throw new Error('Respuesta inválida del servidor');
            }

        })
        .catch(err => {
            console.error(err);

            Swal.fire({
                title: 'Error',
                text: 'No se pudo eliminar el movimiento',
                icon: 'error'
            });
        });
    });
}
// ------------------------------------- Eliminar usuario-------------------------------------------------
function eliminarUsuario(id) {

    Swal.fire({
        title: '¿Eliminar usuario?',
        text: 'Se eliminará el usuario y toda su información asociada',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#e11d48',
        cancelButtonColor: '#64748b',
        confirmButtonText: 'Sí, eliminar',
        cancelButtonText: 'Cancelar'
    }).then((result) => {

        if (!result.isConfirmed) return;

        fetch(`/usuarios/${id}/eliminar/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCSRFToken(),
                'Accept': 'application/json'
            }
        })
        .then(res => res.json())
        .then(data => {
            if (data.ok) {

                Swal.fire({
                    title: 'Usuario eliminado',
                    text: 'El usuario fue eliminado correctamente',
                    icon: 'success',
                    timer: 1800,
                    showConfirmButton: false
                });

                // Recargar la página para actualizar la tabla
                setTimeout(() => {
                    location.reload();
                }, 1800);

            } else {
                throw new Error(data.error || 'Error desconocido');
            }
        })
        .catch(err => {
            console.error(err);
            Swal.fire({
                title: 'Error',
                text: 'No se pudo eliminar el usuario',
                icon: 'error'
            });
        });
    });
}

//----------------------------   Guardar cambios -----------------------------------------------------
function guardarCambiosUsuario() {
    fetch('/usuarios/editar/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
        },
        body: JSON.stringify({
            id: editUserId.value,
            nombre: editNombre.value,
            apellido_paterno: editApellidoPaterno.value,
            apellido_materno: editApellidoMaterno.value,
            correo: editEmail.value,
            rol: editRole.value,
            estado: document.querySelector('input[name="status"]:checked').value
        })
    })
    .then(res => res.json())
    .then(data => {
        if (data.ok) {
            // SweetAlert que se muestra por encima del modal
            Swal.fire({
                title: 'Actualizado',
                text: 'Usuario actualizado',
                icon: 'success',
                customClass: {
                    container: 'z-[9999]'
                },
                timer: 1000,
                showConfirmButton: false
            });

            // Recargar la página después del timer
            setTimeout(() => location.reload(), 1000);
        } else {
            Swal.fire({
                title: 'Error',
                text: data.error,
                icon: 'error',
                customClass: {
                    container: 'z-[9999]'
                }
            });
        }
    });
}
</script>

<div id="movModalOverlay" class="fixed inset-0 bg-black/40 hidden z-40" onclick="closeMovModal()"></div>

<div id="movModal" class="fixed inset-0 flex items-center justify-center hidden z-50">
  <div class="bg-white rounded-2xl w-full max-w-2xl shadow-xl p-6">
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-xl font-bold">Movimientos del usuario</h3>
      <button onclick="closeMovModal()" class="text-gray-400 hover:text-black">
        <i class="fas fa-times"></i>
      </button>
    </div>

    <div class="overflow-y-auto max-h-96">
      <table class="w-full text-sm">
        <thead class="bg-slate-100">
          <tr>
            <th class="p-2 text-left">ID</th>
            <th class="p-2 text-left">Fecha</th>
            <th class="p-2 text-left">Concepto</th>
            <th class="p-2 text-right">Depósito</th>
            <th class="p-2 text-right">Retiro</th>
            <th class="p-2 text-right">Acciones</th>

          </tr>
        </thead>
        <tbody id="movimientosBody"></tbody>
      </table>
    </div>
  </div>
</div>

</body>
</html>
